// mixin'ai
@mixin myFlexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin myFilter($p) {
    filter: brightness($p);
}
// kintamieji
$myPadding: 1%;
// stilizavimas
*{
    margin: 0;
    box-sizing: border-box;
}
.container{   
    @include myFlexCenter();
    flex-wrap: wrap;    
    height: 100vh;
    img{
        border-radius: 20px;
        object-position: center;
        object-fit: cover;
        height: 30%;
        width: calc(100vw / 3);
        padding: $myPadding;

        @include myFilter(50%);
        &:hover{
            @include myFilter(110%);
        }
    }
}